<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--auto annotation  使用注解-->
    <!--1. 开启Spring MVC 注解模式-->
    <!--简化配置
    1. 自动注册 DefaultAnnotationHandlerMapping, AnnotationMethodHandlerAdapter
    2. 提供一系列:数据绑定, 数字和日期 的Format @NumberFormat @DataTimeFormat
    xml,Json 均支持
    -->
    <mvc:annotation-driven/>


    <!--servlet-mapping 映射路径: "/"-->
    <!--静态资源默认servlet配置
        1.加入对静态资源的处理: js,gif, png
        2.允许使用 / 映射-->
    <!-- 自动扫描Controller -->
    <mvc:default-servlet-handler/>



    <!-- 扫描 Web 相关的包-->
    <context:component-scan base-package="com.assign.ssm.controller"/>


    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="defaultEncoding">UTF-8</prop>
            </props>
        </property>

    </bean>

    <!--
    View resolvers can also be configured with ResourceBundles or XML files. If you need
    different view resolving based on Locale, you have to use the resource bundle resolver.
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>

        <property name="contentType" value="text/html"/>

    </bean>




</beans>